:root
{
    background-color: pink;
    background-image: url("");
    background-repeat: repeat;
    color: blue;
}
@font-face
{
    font-family: supershiny;
    src: url("fonts/super-shiny-font.zip")
}
@font-face
{
    font-family: sunnyspells;
    src: url("fonts/sunny-spells-basic-font.zip")
}
h1
  {
    font-family: "Lucida Console", monospace;
      font-size: 50pt;
      color: light-blue;
  }
h2
{
  font-family: Verdana, sans-serif;
    font-size: 30pt;
}
li
{
    font-family: "Lucida Console", monospace;
      font-size: 15pt;
      color: light-blue;
}
p
{
    font-family: "Lucida Console", monospace;
    font-size: 15pt
        color: blue;
section
{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}
