:root
{
    background-color: pink;
    background-repeat: repeat;
}
@font-face
{
    font-family: monty;
    src: url("fonts/Montserrat.ttf")
}
@font-face
{
    font-family: pacifico;
    src: url("fonts/Pacifico-Regular.ttf")
}
h1
{
    font-family: pacifico;
    font-size: 50pt;
    font-color: rgb(255, 20, 147);
    text-align: center;
}
h2
{
    font-family: monty;
    font-size: 40pt;
    font-color: rgb(255, 20, 147);
    text-align: center;
}
h3
{
    font-family: pacifico;
    font-size: 30pt;
    text-align: center;
}
h4
{
    font-family: monty;
    font-size: 15pt;
    text-align: center;
}
p
{
    font-family: monty;
    font-size: 25pt;
    font-color: navy;
    text-align: center;
}
table, th, td
{
        border: 2px solid black;
        padding: 5px;
    text-align: center;
    justify-content: center;
}
th
{
    font-family: monty;
    font-size: 30pt;
    font-color: rgb(255, 20, 147);
    text-align: center;
}
td
{
    font-family: monty;
    font-size: 25pt;
    font-color: navy;
}
a
{
    text-align: center;
}
image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}
div
{
    text-align: center;
}

header
{
    text-align: center;
}
