:root
{
    background-color: pink;
    background-repeat: repeat;
}
@font-face
{
    font-family: monty;
    src: url("fonts/Montserrat.ttf")
}
h1
{
    font-family: monty;
    font-size: 50pt
    font-color: rbg(255, 99, 217);
}
