@font-face
{
  font-family: 'indie';
  src: url(fonts/IndieFlower-Regular.ttf);
}

@font-face
{
  font-family: "limelight';
  src: url(Limelight-Regular.ttf);
}

:root
{
  --Bluebird: #007DBA;
  --Butter: #FFD67D;
  --Sky: #BAE8FF;
  --Sand: #FFEFCC;
}


