@font-face
{
  font-family: 'indie';
  src: url(fonts/IndieFlower-Regular.ttf);
}

@font-face
{
  font-family: 'limelight';
  src: url(Limelight-Regular.ttf);
}

:root
{
  --Bluebird: #007DBA;
  --Butter: #FFD67D;
  --Sky: #BAE8FF;
  --Sand: #FFEFCC;
}

body
{
  background-color: var(--Butter);
}

nav
{
  background-color: var(--Sand);
  font-family: 'limelight';
  font-size: 24pt;
}

h1
{
  font-size: 32pt;
  font-family: 'indie';
  color: var(--Bluebird);
  text-align: center;
}

h2
{
  font-size: 24pt;
  font-family: 'limelight';
  color: var(--Bluebird);
  text-align: center;
}

h3
{
  font-size: 24pt;
  font-family: 'limelight';
  color: var(--Bluebird);
  text-align: center;
}

p
{
  font-size: 18pt;
  font-family: 'limelight';
  color: var(--Bluebird);
  text-align: center;
}

.date
{
  font-size: 20pt;
  font-family: 'limelight';
  highlight: var(--Sand);
}

nav
{
  font-family: 'limelight';
  font-size: 24pt;
  color: var(--Bluebird);
}

section
{
    border: 8px var(--Sky) solid;
    margin: 18vw;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

#top
{
    border: 8px var(--Sky) solid;
    margin: 8vw;
    margin-top: 5px;
    padding: 5px;
}

.nav-menu
{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
}
