@font-face
{
  font-family: 'limelight';
  src: url(fonts/Limelight-Regular.ttf);
}

@font-face
{
  font-family: 'gvibes';
  src: url(fonts/GreatVibes-Regular.ttf)
}

h1
{
  font-size: 32pt;
  font-family: 'gvibes';
}

h2
{
  font-size: 28pt;
  font-family: 'limelight';
}

p
{
  font-size: 24pt;
  font-family: 'limelight';
}
