@font-face
{
  font-family: 'limelight';
  src: url(fonts/Limelight-Regular.ttf);
}

@font-face
{
  font-family: 'gvibes';
  src: url(fonts/GreatVibes-Regular.ttf);
}

:root
{
  --Mud: #80461B;
  --Gold: #F5B041;
  --Tangerine: #EB9843;
  --Wheat: #F5DEB3;
}

body
{
  background-color: var(--Wheat);

h1
{
  font-size: 48pt;
  font-family: 'limelight';
  text-align: center;
  color: var(--Gold);
}

h2
{
  font-size: 28pt;
  font-family: 'limelight';
  text-align: center;
  color: var(--Tangerine);
}

h3
{
  font-size: 24pt;
  font-family: 'limelight';
  text-align: center;
  color: var(--Mud);
}

p
{
  font-size: 24pt;
  font-family: 'limelight';
  text-align: center;
  color: var(--Mud);
}

div
{
  class: center;
  display: block;
  margin: 8vw;
  margin-top: 5px;
  padding: 5px;
}

table
{
  display: block;
  border: 2pt var(--Gold);
  margin: 8vw;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
}

th, td
{
  font-size: 18pt;
  font-family: 'limelight';
  color: var(--Mud);
  text-align: center;
}

img
{
  height: 150pt;
}
