@font-face
{
  font-family: 'limelight';
  src: url(fonts/Limelight-Regular.ttf);
}

@font-face
{
  font-family: 'gvibes';
  src: url(fonts/GreatVibes-Regular.ttf)
}

h1
{
  font-size: 48pt;
  font-family: 'gvibes';
  text-align: center;
}

h2
{
  font-size: 28pt;
  font-family: 'limelight';
  text-align: center;
}

h3
{
  font-size: 24pt;
  font-family: 'limelight';
  text-align: center;
}

p
{
  font-size: 24pt;
  font-family: 'limelight';
  text-align: center;
}

div
{
  class: center;
  display: block;
  margin: 8vw;
  margin-top: 5px;
  padding: 5px;
}

table
{
  display: block;
  border: 2px solid blacl;
  margin: 8vw;
  margin-top: 5px;
  padding: 5px;
}

th, td
{
  font-size: 18pt;
  font-family: 'limelight';
}

img
{
  height: 150pt;
}
